<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
<li role="presentation" routerLinkActive="blue"><a routerLink="/users">Servers</a></li>
<li role="presentation" routerLinkActive="red"><a routerLink="/servers">Users</a></li>
</ul>
</div>
</div>

<router-outlet></router-outlet>





<!-- Generate app with angular routing
Generate at least two components to route to

One route should use binding

Redirect to a page if the url is empty

Highlight the active route

Use a button to programmatically route to a component

Create a child component within a component you’ve already created

Display this component using a button within the parent component

Bonus: Add a 404, page not found that displays when url is not recognized
What you’ll need to use:

CLI
Angular Routing Module
Bootstrap
routerLink
routerLinkActive
routerLinkActiveOptions
Child Routes -->
